{% extends 'base.jinja2' %}


{% block content %}
<div class="jumbotron">
	<h1>{{ localise('site-create_game') }}</h1>
	<form method="POST">
		<div class="body">
			<div class="fieldset">
				<label for="name">{{ localise('site-form_name') }}</label>
				<input type="text" name="name" id="name" />
			</div>
			<div class="fieldset">
				<label for="owner_plays">{{ localise('site-form_owner_plays') }}</label>
				<input type="checkbox" name="owner_plays" id="owner_plays" checked />
			</div>
		</div>
		<div class="buttons">
			<div class="flexible-space"></div>
			<button type="submit" class="button button-primary">{{ localise('site-submit') }}</button>
		</div>
	</form>
</div>
{% endblock %}